@import "./_constants"

// style of card project
.card-project
  padding: 10px
  margin-bottom: 50px
  a
    text-decoration: none
  .card-content
    cursor: pointer
    position: relative
    background-size: contain
    background-color: #191919
    background-position: center
    background-repeat: no-repeat
    margin-bottom: 30px
    height: 300px
    overflow-x: hidden
    border-bottom: 10px solid #FFF
    
    img.card-content__thumb__logo
      width: 80px
      right: 0
      border-radius: 50%
      border: 3px solid #FFF
      margin: 20px 20px 0
    .card-content__text
      padding: 20px
      color: $color-white-main
      a
        text-decoration: none
      h3
        font-size: 35px;
        margin: 0 0 5px;
      h4
        font-size: 20px
        margin: 0

// style of card avatar
.card-team
  padding: 10px
  margin-bottom: 50px
  text-align: center
  max-width: 100% !important
  &.card-team-small
    h3, h4
      font-size: 14px
  a
    text-decoration: none
  img.card-team__avatar
    height: 140px
    width: 140px
    border-radius: 140px
    border: 5px solid $color-gray-main
    margin-bottom: 20px
  img.card-team__avatar-small
    height: 100px
    width: 100px
    border-radius: 100px
    border: 5px solid $color-gray-main
    margin-bottom: 20px
  h3, h4
    margin: 0
  h3
    color: $color-blue-dark
  h4
    color: $color-gray-main

// responsiveness
// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px)

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px)

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px)
  .card-project
    .card-content__thumb
      height: 195px

// Large devices (desktops, less than 2000px)
@media (max-width: 2000px)
  .card-project
    .card-content__thumb
      height: 250px

@media (min-width: 2000px)
  .card-project
    .card-content__thumb
      height: 400px