extends layouts/empty_layout 

include components/cards/card-former-team
include components/cards/card-project
include components/cards/card-team

block content 
    section.grid-noGutter.section-home.flex-center 
        .section-home__logo 
            img(src="/images/YMG Square Logo - white transparent.png" alt="Yussan Media Group white transparent logo")
            span.text Knowing is not enough, we must apply it. Willing is not enough, we must do.&nbsp;
                small Johann Wolfgang von Goethe
        .section-home__clouds
        img#the-rocket.section-home__therocket(src="/images/the-rocket.svg")

    section.grid-noGutter.section-about.flex-center
        .grid-center 
            .col-6_sm-12.align-center
                h2.text-title-big.text-blue Who We Are

        .grid-center
            .col-8_sm-12
                .grid
                    .col
                        div(style="width:100%")
                            h3.align-center.text-medium-gray 
                                | " Here we are not only focused on making tech products. But it also makes technology accessible, affordable and easy for everyone to learn.
                            br
                            p.align-center.text-medium-gray  
                                | Yussan Media Group (previously known as Id More) starts from a team of students who often participate in various tech product competitions, 
                                | Hackathon and the like. Until finally we decided to create an Indonesian online competition platform, 
                                | as well as the First Yussan Media Group product, until later other products and programs were created.

        .section-about__clouds

    section.grid-noGutter.section-projects.flex-center 

        .grid-center 
            .col-6_sm-12.align-center
                h2.text-title-big.text-white What We Do

        //- looping card projects
        .grid-center
            .col-10_sm-12
                .grid-center
                    - 
                        var projects = [
                            {
                                title: 'Mau Riding on Youtube',
                                link: 'https://www.youtube.com/channel/UC_rJfEqXGAvA_MdIp6m_EeQ',
                                desc: 'Mau Riding Motovlog',
                                thumb: '/images/project-mauriding-youtube.jpg',
                                logo: '/images/project-mauriding-logo.png'
                            },
                            {
                                title: 'Mau Gowes on Youtube',
                                link: 'https://youtube.com/maugowes',
                                desc: 'Indonesia Cycling Online Platform',
                                thumb: '/images/project-maugowes-youtube.jpg',
                                logo: '/images/project-maugowes-logo.png'
                            },
                            {
                                title: 'Mau Gowes',
                                link: 'https://maugowes.com',
                                desc: 'Indonesia Cycling Online Platform',
                                thumb: '/images/project-maugowes.jpg',
                                logo: '/images/project-maugowes-logo.png'
                            },
                            {
                                title: 'Mau Gowes Bike Shop on Tokopedia',
                                link: 'https://www.tokopedia.com/maugowes',
                                desc: 'Official Shop of Mau Gowes',
                                thumb: '/images/project-maugowes-bike-shop.jpg',
                                logo: '/images/project-maugowes-logo.png'
                            },
                            {
                                title: 'Yussan Academy on Youtube',
                                link: 'https://www.youtube.com/channel/UCKLQUv8n3OadK5mkYpmZiyA',
                                desc: 'Tech from Engineer\'s Perspective',
                                thumb: '/images/project-yussan-academy-youtube.jpg',
                                logo: '/images/project-yussan-academy-logo.png'
                            },
                            {
                                title: 'Yussan Academy',
                                link: 'https://yussanacademy.com',
                                desc: 'Tech from Engineer\'s Perspective',
                                thumb: '/images/project-yussan-academy.jpg',
                                logo: '/images/project-yussan-academy-logo.png'
                            },
                            {
                                title: 'Oopsreview',
                                link: 'https://oopsreview.com',
                                desc: 'Software Review Specialist',
                                thumb: '/images/project-oopsreview.jpg',
                                logo: '/images/project-oopsreview-logo.png'
                            },
                            {
                                title: 'Kompetisi Id',
                                link: 'https://kompetisi.id',
                                desc: 'Online Indonesian Competition Portal',
                                thumb: '/images/project-kompetisiid.jpg',
                                logo: '/images/project-kompetisiid-logo.png'
                            },
                        ]
                    each n, key in projects
                        + card-project(n)
                        if key + 1 == 1 || (key + 1) & 2 != 0
                            .col-1

        //- end of looping card projects
    .section-projects__border-bottom

    section.grid-noGutter.section-team.flex-center 
        .grid-center 
            .col-6_sm-12.align-center
                h2.text-title-big.text-blue The Team

        //- looping card team
        .grid-center
            .col-8_sm-12
                .grid-center
                    - 
                        var team = [
                            {
                                name: 'Yusuf A.H.',
                                position: 'Yussan Media Group Founder | Research and Development',
                                link: 'https://yussan.github.io',
                                avatar: '/images/home-team-yussan.png'
                            },
                            {
                                name: 'Hananta D.K.',
                                position: 'Android Engineer of Kompetisi Id',
                                link: 'https://github.com/hdk24',
                                avatar: '/images/home-team-hananta.png'
                            },

                            {
                                name: 'Mudawil Qulub',
                                position: 'Content Creator of Mau Gowes',
                                link: 'https://instagram.com/mudawil',
                                avatar: '/images/home-team-qulub.jpg'
                            },
                            {
                                name: 'Y. Candra A.N.',
                                position: 'Content Creator of Yussan Academy',
                                link: 'https://github.com/yusufcandraarif',
                                avatar: '/images/home-team-candra.jpg'
                            },
                            {
                                name: 'Wildan Z.M.',
                                position: 'Web Fullstack Engineer',
                                link: 'https://github.com/zmwildan',
                                avatar: '/images/home-team-wildanzm.jpg'
                            }
                        ]
                    each n in team
                        + card-team(n)
        //- end of looping card team

    footer.section-footer.flex-center 
        p
            | Thank you for your attention
            br
            | Copyright &copy; 2012 - 2020 Yussan Media Group
            br
            | Web designed and built by 
            a(href="https://yussan.github.io" target="_blank") yussan


    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-156579324-1")

    script.
        const RocketEl = document.getElementById("the-rocket");
        window.addEventListener("scroll", function(e) {
            const scrollTop = window.pageYOffset || (document.documentElement || document.body.parentNode || document.body).scrollTop;
            const percentageRocket = scrollTop / window.innerHeight * 100;
            if(percentageRocket <= 100) {
                //- console.log(scrollTop, window.innerHeight, percentageRocket);
                RocketEl.style.bottom = `${percentageRocket - 50}%`
            }
        })

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156579324-1');



