extends layouts/empty_layout 

include components/cards/card-former-team
include components/cards/card-project
include components/cards/card-team

block content 
    section.grid-noGutter.section-home.flex-center 
        .section-home__logo 
            img(src="/images/home-byidmore-transparent.png" alt="idmore white transparent logo")
            span.text Knowing is not enough, we must apply it. Willing is not enough, we must do.&nbsp;
                small Johann Wolfgang von Goethe
        .section-home__clouds
        img#the-rocket.section-home__therocket(src="/images/the-rocket.svg")

    section.grid-noGutter.section-about.flex-center
        .grid-center 
            .col-6.align-center
                h2.text-title-big.text-blue Who We Are

        .grid-center
            .col-8
                .grid
                    .col
                        div(style="width:100%")
                            h3.align-center.text-medium-gray 
                                | " Here we are not only focused on making tech products. But it also makes technology accessible, affordable and easy for everyone to learn.
                            br
                            p.align-center.text-medium-gray  
                                | Id More starts from a team of students who often participate in various tech product competitions, Hackathon and the like. Until finally we decided to create an Indonesian online competition platform, as well as the First Id More product, until later other products and programs were created.

        .section-about__clouds

    section.grid-noGutter.section-projects.flex-center 

        .grid-center 
            .col-6.align-center
                h2.text-title-big.text-white What We Do

        //- looping card projects
        .grid-center
            .col-10
                .grid-center
                    - 
                        var projects = [
                            {
                                title: 'Mau Gowes on Youtube',
                                link: 'https://youtube.com/gowes',
                                desc: 'Indonesia Cycling Online Platform',
                                thumb: '/images/project-maugowes-youtube.png',
                                logo: '/images/project-maugowes-logo.png'
                            },
                            {
                                title: 'Mau Gowes',
                                link: 'https://maugowes.com',
                                desc: 'Indonesia Cycling Online Platform',
                                thumb: '/images/project-maugowes.png',
                                logo: '/images/project-maugowes-logo.png'
                            },
                            {
                                title: 'Id More Academy',
                                link: 'https://academy.byidmore.com',
                                desc: 'Id More RnD Team Open To The World',
                                thumb: '/images/project-idmore-academy.png',
                                logo: '/images/project-idmoreacademy-logo.png'
                            },
                            {
                                title: 'Kompetisi Id',
                                link: 'https://kompetisi.id',
                                desc: 'Online Indonesian Competition Portal',
                                thumb: '/images/project-kompetisiid.png',
                                logo: '/images/project-kompetisiid-logo.png'
                            },
                            {
                                title: 'Oopsreview',
                                link: 'https://oopsreview.com',
                                desc: 'Software Review Specialist',
                                thumb: '/images/project-oopsreview.png',
                                logo: '/images/project-oopsreview-logo.png'
                            },
                            {
                                title: 'Id More Academy on Youtube',
                                link: 'https://www.youtube.com/channel/UCKLQUv8n3OadK5mkYpmZiyA',
                                desc: 'Research and development together',
                                thumb: '/images/project-idmoreacademy.png',
                                logo: '/images/project-idmoreacademy-logo.png'
                            },
                            //- {
                            //-     title: 'Doconfig',
                            //-     link: 'http://doconfig.netlify.com/',
                            //-     cs: true,
                            //-     desc: 'Create Config in Seconds',
                            //-     thumb: '/images/project-doconfig.png',
                            //-     logo: '/images/project-doconfig-logo.png'
                            //- }
                            
                        ]
                    each n, key in projects
                        + card-project(n)
                        if key + 1 == 1 || (key + 1) & 2 != 0
                            .col-1

        //- end of looping card projects
    .section-projects__border-bottom

    section.grid-noGutter.section-team.flex-center 
        .grid-center 
            .col-6.align-center
                h2.text-title-big.text-blue The Team

        //- looping card team
        .grid-center
            .col-8
                .grid-center
                    - 
                        var team = [
                            {
                                name: 'Yusuf A.H.',
                                position: 'Id More Founder | Research and Development',
                                link: 'https://yussan.github.io',
                                avatar: '/images/home-team-yussan.png'
                            },
                            {
                                name: 'WildanZM',
                                position: 'Web Front-end Engineer',
                                link: 'https://github.com/zmwildan',
                                avatar: '/images/home-team-wildanzm.jpg'
                            },
                            {
                                name: 'Aab',
                                position: 'Web Front-end Engineer',
                                link: 'https://github.com/Aab19',
                                avatar: '/images/home-team-aab2.jpg'
                            },
                            {
                                name: 'Sigit K.',
                                position: 'Web Full-stack Engineer',
                                link: 'https://github.com/sgtkuncoro',
                                avatar: '/images/home-team-sigitk.jpeg'
                            },
                        ]
                    each n in team
                        + card-team(n)
        //- end of looping card team

        //- .grid-center(style="margin-top:80px") 
        //-     .col-6.align-center
        //-         h3.text-title-small.text-blue Former Team

        //- .grid-center
        //-     .col-8
        //-         .grid-center
        //-             - 
        //-                 var formerteam = [
        //-                     {
        //-                         name: 'M.S. Zuhri',
        //-                         position: 'Backend Engineer',
        //-                         link: 'https://twitter.com/dzhurey',
        //-                         avatar: '/images/home-team-zuhri.png'
        //-                     },
        //-                     {
        //-                         name: 'Mudawil Qulub',
        //-                         position: 'AMICTA 2015 + INAICTA 2015 member',
        //-                         link: 'https://www.instagram.com/mudawil',
        //-                         avatar: '/images/home-team-mqulub.jpg'
        //-                     },
        //-                     {
        //-                         name: 'Ahmad Fuad',
        //-                         position: 'AMICTA 2015 + INAICTA 2015 member',
        //-                         link: 'https://www.linkedin.com/in/ahmdfuad/',
        //-                         avatar: '/images/home-team-ahmadfuad.jpg'
        //-                     },
        //-                     {
        //-                         name: 'Andriyas Efendi',
        //-                         position: 'BestAppsId 2014 member',
        //-                         link: 'https://www.linkedin.com/in/andriyasefendi/',
        //-                         avatar: '/images/home-team-andriyase.jpg'
        //-                     },
        //-                     {
        //-                         name: 'Muhammad Pailus',
        //-                         position: 'BestAppsId 2014 member',
        //-                         link: 'https://www.linkedin.com/in/muhammad-pailus-989a2b83/',
        //-                         avatar: '/images/home-team-pailus.jpeg'
        //-                     }
        //-                 ]
        //-             each n in formerteam
        //-                 + card-former-team(n)


    footer.section-footer.flex-center 
        p
            | Thank you for your attention
            br
            | Copyright &copy; 2012 - 2019 Id More Team 
            br
            | Web designed and builder by 
            a(href="https://yussan.github.io" target="_blank") yussan


    script.
        const RocketEl = document.getElementById("the-rocket");
        window.addEventListener("scroll", function(e) {
            const scrollTop = window.pageYOffset || (document.documentElement || document.body.parentNode || document.body).scrollTop;
            const percentageRocket = scrollTop / window.innerHeight * 100;
            if(percentageRocket <= 100) {
                //- console.log(scrollTop, window.innerHeight, percentageRocket);
                RocketEl.style.bottom = `${percentageRocket - 50}%`
            }
        })



