mixin card-project(n)
  .col-3_md-6_sm-12.card-project 
    a(href=n.link target="_blank")
      .card-content
        img.card-content__thumb__logo(src=n.logo)
        .card-content__text
          h3 #{n.title} 
          h4 #{n.desc} 
