.col-6_sm-12.card-project 
  .card-content
    .card-content__thumb(style="background-image: url('/images/project-kompetisiid.png')")
      img.card-content__thumb__logo(src="/images/project-kompetisiid-logo.png")
    .card-content__text
      h3 Kompetisi Id 
      h4 Indonesian Online Competition Platform